<% layout("/layouts/boilerplate") %>
<div class="row">
  <div class="col-8 offset-2">

  
<body>
  <h3><%= listing.title %></h3>
</div> 
<div class="col-6 offset-2">
  
  <div class="card" style="width: 18rem;">
  <img src="<%= listing.image  %>" class="card-img-top" alt="listing_image">
  <div class="card-body">
    
  </div>
</div> 
  <ul>
    
    <li><%= listing.description %></li>
    <li> &#8377; <%= listing.price.toLocaleString("en-IN") %></li>
    <li><%= listing.location %></li>
    <li><%= listing.country %></li>

  </ul>
  <br>
  <a class="btn btn-dark" style="background-color: red;" href="/listings/<%= listing._id %>/edit">Edit</a>
  
  <form action="/listings/<%= listing._id %>?_method=DELETE" method="POST">
    <br>
    <button class="btn btn-dark">Delete</button>
  </form>

</div>
<div class="col-8 offset-3">
  <hr>
  <h4>Leave a review</h4>
  <form action="/listings/<%= listing._id %>/reviews" method="POST">
<div>
  <label for="rating" class="form-label">Rating</label>
  <input type="range" min="1" max="5" id="rating" name="review[rating]" class="form-range">
</div>
<div>
  <label for="comment" class="form-label">Comments</label>
  <textarea class="form-control" name="review[comment]" id="comment" cols="30" rows="5"></textarea>
</div>
<br>
<button class="btn btn-outline-dark">Submit</button>
<br>
  </form>
</div>
</div>
