<% layout("/layouts/boilerplate") %>
<div class="row">
  <div class="col-8 offset-2">

  
<body>
  <h3><%= listing.title %></h3>
</div> 
<div class="card col-6 offset-3 ">
  
  <div class="card" style="width: 18rem;">
  <img src="<%= listing.image  %>" class="card-img-top" alt="listing_image">
  <div class="card-body">
    
  </div>
</div> 
  <ul>
    <i>Owner: <%= listing.owner.username %></i>
    <li><%= listing.description %></li>
    <li> &#8377; <%= listing.price.toLocaleString("en-IN") %></li>
    <li><%= listing.location %></li>
    <li><%= listing.country %></li>

  </ul>
  <br>
  <% if(currUser && currUser._id.equals(listing.owner._id)) {%>
  <div class="btns">

  <a class="btn btn-dark" style="background-color: red;" href="/listings/<%= listing._id %>/edit">Edit</a>
  
  <form action="/listings/<%= listing._id %>?_method=DELETE" method="POST">
    <br>
    <button class="btn btn-dark">Delete</button>
    </div>
    <% } %>
  </form>

</div>

<div class="col-8 offset-3">
  <hr>
  <% if(currUser) { %>
  <h4>Leave a review</h4>
  <form action="/listings/<%= listing._id %>/reviews" method="POST" novalidate class="needs-validation ">
<div>
  <label for="rating" class="form-label">Rating</label>
  <input type="range" min="1" max="5" id="rating" name="review[rating]" class="form-range">
</div>
<div>
  <label for="comment" class="form-label">Comments</label>
  <textarea class="form-control" name="review[comment]" id="comment" cols="30" rows="5" required></textarea>
<div class="invalid-feedback">Please submit some valid reviews</div>
</div>
<br>
<button class="btn btn-outline-dark">Submit</button>
<br>
  </form>
  <% } %>
  <hr>
  <p><b>All Reviews</b></p>
  
  <ul>
  
    <% for(review of listing.reviews){ %>
    <div class="card"> <div class="card-body">
      <h5 class="card-title">Jane Doe</h5>
      <p class="card-text"><%= review.comment %></p>
      <p class="card-text"><%= review.rating %> star</p>
    </div>
  <form class="mb-3" method="POST" action="/listings/<%= listing._id %>/reviews/<%= review._id %>?_method=DELETE"><button class="btn btn-sm btn-dark">Delete</button></form>
  </div>
    <% } %>
</ul>

</div>
</div>

